<%- include("include/_navigation") -%>
    <main class=" flex-grow-1 ">
        <div class="container p-4">
            <h1>Item Name</h1>
            <p class="fw-light fs-5">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content
                is a little bit
                longer.</p>
            <div>
                <strong class="fs-6 text-danger">$12:99</strong>
            </div>
            <div class="mt-1">
                <strong class="fs-6 text-muted">1 in Stock</strong>
            </div>
            <div class="mt-1">
                <a class="card-text mb-1 btn btn-sm btn btn-outline-success mt-1">Hip Hop</a>
            </div>
            <div class="d-flex  my-4">
                <a class="btn btn-outline-secondary btn-md px-4" href="#">Edit</a>
                <a class="btn  btn-md  px-4  btn-danger ms-4" href="#">Delete</a>
            </div>
        </div>
    </main>
    <%- include("include/_footer") -%>