<%- include("include/_navigation") -%>
  <div class=" border flex-grow-1">
    <div class="container p-4">
      <h1>All Records</h1>
      <div class="card mb-3 mx-auto my-4 shadow" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Yeezus</h5>
              <p class="card-text mb-2">This is a wider card with supporting text below as a natural lead-in to
                additional
                content.
                This content is a little bit longer.</p>
              <p class="card-text mb-1"><small class="text-danger">$16.99</small></p>
              <p class="card-text mb-1"><small class="text-muted">1 in stock</small></p>
              <a class="card-text mb-1 btn btn-sm btn btn-outline-success mt-1">Hip Hop</a>
            </div>
          </div>
          <div class="col-md-4 d-flex p-3 align-items-center">
            <div class="square-container">
              <div class="square-img">
                <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Yeezus_album_cover.png" class="" alt="
                  ...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("include/_footer") -%>