<%- include("include/_navigation") -%>
    <main class=" flex-grow-1 ">
        <div class="container p-4">
            <h1>New Category</h1>
            <form style="max-width:450px;">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Create Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Catagory description</label>
                    <textarea style="width: 100%" rows="3" class="form-control" name="" id=""></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <%- include("include/_footer") -%>