<%- include("include/_navigation") -%>
    <main class=" flex-grow-1 ">
        <div class="container p-4">
            <h1>New Item</h1>
            <form style="max-width:450px;">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Item Name</label>
                    <input required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Item Description</label>
                    <textarea style="width: 100%" required rows="3" class="form-control" name="" id=""></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Price</label>
                    <input type="number" step="0.01" style="width: 100%" required rows="3" class="form-control" name=""
                        id=""></input>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Item Quantity</label>
                    <input type="number" style="width: 100%" required rows="3" class="form-control" name=""
                        id=""></input>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Category</label>
                    <select type="number" step="0.01" style="width: 100%" required rows="3" class="form-select" name=""
                        id="">
                        <% if (category !="" ) { %>
                            <% category.forEach((item)=> { %>
                                <option value=<%=item.name %> >
                                    <%= item.name %>
                                </option>

                                <% }) %>
                                    <% } %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </main>
    <%- include("include/_footer") -%>